{{ partial "head.html" . }}
<h1>{{ .Title }}</h1>
<hr class='fancy'>
<div class='slideInUp'>
  {{ .Content }}
  {{ range .Pages }}
  {{ partial "code-project.html" . }}
  {{ end }}
</div>
<h3>Latest Github Activity</h3>
<div id="feed"></div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/0.7.2/mustache.min.js"></script>
<script type="text/javascript" src='/github-activity.js'></script>
<script>
  GitHubActivity.default.feed({
    username: "stelabrego",
    // repository: "your-repo", // optional
    selector: "#feed",
    limit: 5 // optional
  });
</script>

{{ partial "footer.html" . }}