{{ partial "head.html" . }}
<section>
  <div class='columns is-vcentered is-centered'>
    <div class='column is-7 hero-typed-container'>
      <div id="typed-strings" style="visibility: hidden;">
        <p></p>
        <p>programming tutor.</p>
        <p>freelancer.</p>
        <p>fullstack web developer.</p>
      </div>
      <span id='typed'></p>
    </div>
    <div class='column is-4'>
      <img src='/img/selfie.jpg'>
    </div>
  </div>
</section>
<script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.9"></script>
<script>
  window.addEventListener('DOMContentLoaded', (event) => {
    const typed = new Typed('#typed', {
      typeSpeed: 35,
      smartBackspace: true,
      stringsElement: '#typed-strings'
    });
  });
</script>
{{ partial "footer.html" . }}