{{ partial "head.html" . }}
<section class='slideInUp'>
  <div class='columns is-vcentered is-mobile'>
    <div class='column is-7-tablet is-5-mobile hero-typed-container'>
      <div id="typed-strings" style="visibility: hidden;">
        <p></p>
        <p>programming tutor.</p>
        <p>freelancer.</p>
        <p>fullstack web developer.</p>
      </div>
      <span id='typed'></p>
    </div>
    <div class='column is-4-tablet is-7-mobile'>
      <img class='hero-selfie' src='/img/selfie.jpg'>
    </div>
  </div>
</section>
<section class='skills slideInUp'>
  <div class='columns is-multiline is-centered is-vcentered is-mobile'>
    <div class='column is-4-mobile'>
      <img class='skill' src='/img/js.svg'>
    </div>
    <div class='column is-4-mobile'>
      <img class='skill' src='/img/css.svg'>
    </div>
    <div class='column is-4-mobile'>
      <img class='skill' src='/img/html.svg'>
    </div>
    <div class='column is-4-mobile'>
      <img class='skill' src='/img/node.svg'>
    </div>
    <div class='column is-4-mobile'>
      <img class='skill' src='/img/python.svg'>
    </div>
    <div class='column is-4-mobile'>
      <img class='skill' src='/img/java.svg'>
    </div>
    <div class='column is-4-mobile'>
      <img class='skill' src='/img/docker.svg'>
    </div>
    <div class='column is-4-mobile'>
      <img class='skill' src='/img/linux.svg'>
    </div>
  </div>
</section>
<section class='hire-me'>
  <a href='/resume' class='button hire-me-button hvr-ripple-out'>Hire Me</a>
  </div>
</section>
<script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.9"></script>
<script>
  window.addEventListener('DOMContentLoaded', (event) => {
    const typed = new Typed('#typed', {
      typeSpeed: 35,
      smartBackspace: true,
      stringsElement: '#typed-strings'
    });
  });
</script>
{{ partial "footer.html" . }}